body {
	background-color: black;
}

h1 {
	color: white;
	text-align: center;
}

p {
	color: white;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

.video-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}